*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
}


.card-container{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.card{
    border-radius: 5px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #1B1A55;
    color:white;
}

